<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cabinet.css') }}">
</head>
<body>
    <div class="head">
        <img src="images/zhishi_logo02.png" alt="" style="width: 300px; margin-left: 100px;">
        <img src="images/icon.jpeg" alt="" class="photo">
    </div>
    <div class="main">
        <div class="cont">
            <span><b style="font-size: 60px;">Школа</b></span>
            <div class="tab">
                <button class="button" style="font-size: 35px;">Список учителей</button>
                <button class="button" style="font-size: 35px;">Учебное расписание</button>
            </div>
            <span><b style="font-size: 55px;">Мои данные</b></span>
            <div class="inside">
                <input type="text" placeholder="Имя" class="input">
                <input type="text" placeholder="Фамилия" class="input">
                <input type="text" placeholder="Отчество" class="input">
                <div class="id">
                    <span style="font-size: 30px;">User id: id</span>
                </div>
                <button class="button" style="width: 700px;">СОХРАНИТЬ</button>
            </div>
        </div>
    </div>
    <div class="bottom_code">
        <div class="bottom">
            <div class="bottom_left">
                <img src="images/zhishi-logo04.png" alt="" style="width: 300px;">
                <div class="tg">
                    <img src="images/TG.jpeg" alt="" style="width: 60px;">
                    <img src="images/FEFU.jpeg" alt="" style="width: 60px;">
                    <img src="images/DDO.jpeg" alt="" style="width: 60px;">
                </div>
            </div>
            <div class="bottom_right">
                <span style="color: orange; font-size: 40px;">E-mail 00000 | 8 800 88888888 | Name</span>
                <span style="font-size: 30px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                    sed diam nonummy nibh euismod. </span>
            </div>
        </div>
    </div>
</body>   