<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main_page.css') }}">
</head>
<body>
    <div class="cont">
        <div class="in_cont">
            <div class="right">
                <img src="images/zhishi_logo02.png" alt="" style="width: 350px;">
                <div class="text_upper">
                    <span style="font-size: 150px;"><b>Преподаватели</b></span>
                    <span style="font-size: 60px;">РЕЙТИНГ САМЫХ КРУТЫХ</span>
                </div>
                <div class="bottom_text">
                    <span style="opacity: 50%; font-size: 40px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim 
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
                        aliquip ex ea commodo consequat.</span>
                </div>
            </div>
            <div class="left">
                <form action="/redirect" method="get"> <!-- указываем путь к обработчику в Flask -->
                    <button class="button" type="submit">LOG IN</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>