<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='schedule.css') }}">
</head>
<body>
    <div class="head">
        <img src="images/zhishi_logo02.png" alt="" style="width: 300px; margin-left: 100px;">
        <img src="images/icon.jpeg" alt="" class="photo">
    </div>
    <div class="main">
        <div class="cont">
            <div class="cont_up">
                <span><b style="font-size: 60px;">Школа</b></span>
            </div>
            <button class="button" style="font-size: 35px;">Список учителей</button>
            <span><b style="font-size: 50px;">Учебная неделя</b></span>
            <div class="schedule">
                <table style="margin-bottom: 50px;">
                    <tr><td style="border-top-left-radius: 30px; border-top-right-radius: 30px;"><b style="font-size: 40px;">Понедельник, дата</b></td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">Предмет</td></tr>
                </table>
                <table style="margin-bottom: 50px;">
                    <tr><td style="border-top-left-radius: 30px; border-top-right-radius: 30px;"><b style="font-size: 40px;">Вторник, дата</b></td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">Предмет</td></tr>
                </table>
                <table style="margin-bottom: 50px;">
                    <tr><td style="border-top-left-radius: 30px; border-top-right-radius: 30px;"><b style="font-size: 40px;">Среда, дата</b></td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">Предмет</td></tr>
                </table>
                <table style="margin-bottom: 50px;">
                    <tr><td style="border-top-left-radius: 30px; border-top-right-radius: 30px;"><b style="font-size: 40px;">Четверг, дата</b></td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">Предмет</td></tr>
                </table>
                <table style="margin-bottom: 50px;">
                    <tr><td style="border-top-left-radius: 30px; border-top-right-radius: 30px;"><b style="font-size: 40px;">Пятница, дата</b></td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td>Предмет</td></tr>
                    <tr><td style="border-bottom-left-radius: 30px; border-bottom-right-radius: 30px;">Предмет</td></tr>
                </table>
            </div>
        </div>
    </div>
    <div class="bottom_code">
        <div class="bottom">
            <div class="bottom_left">
                <img src="images/zhishi-logo04.png" alt="" style="width: 300px;">
                <div class="tg">
                    <img src="images/TG.jpeg" alt="" style="width: 60px;">
                    <img src="images/FEFU.jpeg" alt="" style="width: 60px;">
                    <img src="images/DDO.jpeg" alt="" style="width: 60px;">
                </div>
            </div>
            <div class="bottom_right">
                <span style="color: orange; font-size: 40px;">E-mail 00000 | 8 800 88888888 | Name</span>
                <span style="font-size: 30px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                    sed diam nonummy nibh euismod. </span>
            </div>
        </div>
    </div>
</body>
</html>