<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='teachers_page.css') }}">
</head>
<body>
    <div class="head">
        <img src="images/zhishi_logo02.png" alt="" style="width: 300px; margin-left: 100px;">
        <img src="images/icon.jpeg" alt="" class="photo">
    </div>
    <div class="main">
        <div class="cont">  
            <span><b style="font-size: 60px;">Преподаватели</b></span>
            <button class="button" style="font-size: 35px; margin-top: 50px;">Учебное расписание</button>
            <div class="search">
                <input type="text" id="text" placeholder="Поиск преподавателя по ФИО" class="input">
            </div>
            <div class="teachers">
                <a style="display:block" href="">
                    <div class="teacher">
                        <div class="icon" style="width: 200px; height: 200px; margin: 0;"></div>
                        <span>Имя Фамилия</span>
                        <span>Отчество  </span>
                        <span style="color: rgb(87, 127, 201); font-weight: lighter;">ПРЕДМЕТ</span>
                    </div>
                </a>
                <a style="display:block" href="">
                    <div class="teacher">
                        <div class="icon" style="width: 200px; height: 200px; margin: 0;"></div>
                        <span>Имя Фамилия</span>
                        <span>Отчество  </span>
                        <span style="color: rgb(87, 127, 201); font-weight: lighter;">ПРЕДМЕТ</span>
                    </div>
                </a><a style="display:block" href="">
                    <div class="teacher">
                        <div class="icon" style="width: 200px; height: 200px; margin: 0;"></div>
                        <span>Имя Фамилия</span>
                        <span>Отчество  </span>
                        <span style="color: rgb(87, 127, 201); font-weight: lighter;">ПРЕДМЕТ</span>
                    </div>
                </a><a style="display:block" href="">
                    <div class="teacher">
                        <div class="icon" style="width: 200px; height: 200px; margin: 0;"></div>
                        <span>Имя Фамилия</span>
                        <span>Отчество  </span>
                        <span style="color: rgb(87, 127, 201); font-weight: lighter;">ПРЕДМЕТ</span>
                    </div>
                </a><a style="display:block" href="">
                    <div class="teacher">
                        <div class="icon" style="width: 200px; height: 200px; margin: 0;"></div>
                        <span>Имя Фамилия</span>
                        <span>Отчество  </span>
                        <span style="color: rgb(87, 127, 201); font-weight: lighter;">ПРЕДМЕТ</span>
                    </div>
                </a><a style="display:block" href="">
                    <div class="teacher">
                        <div class="icon" style="width: 200px; height: 200px; margin: 0;"></div>
                        <span>Имя Фамилия</span>
                        <span>Отчество  </span>
                        <span style="color: rgb(87, 127, 201); font-weight: lighter;">ПРЕДМЕТ</span>
                    </div>
                </a><a style="display:block" href="">
                    <div class="teacher">
                        <div class="icon" style="width: 200px; height: 200px; margin: 0;"></div>
                        <span>Имя Фамилия</span>
                        <span>Отчество  </span>
                        <span style="color: rgb(87, 127, 201); font-weight: lighter;">ПРЕДМЕТ</span>
                    </div>
                </a><a style="display:block" href="">
                    <div class="teacher">
                        <div class="icon" style="width: 200px; height: 200px; margin: 0;"></div>
                        <span>Имя Фамилия</span>
                        <span>Отчество  </span>
                        <span style="color: rgb(87, 127, 201); font-weight: lighter;">ПРЕДМЕТ</span>
                    </div>
                </a><a style="display:block" href="">
                    <div class="teacher">
                        <div class="icon" style="width: 200px; height: 200px; margin: 0;"></div>
                        <span>Имя Фамилия</span>
                        <span>Отчество  </span>
                        <span style="color: rgb(87, 127, 201); font-weight: lighter;">ПРЕДМЕТ</span>
                    </div>
                </a><a style="display:block" href="">
                    <div class="teacher">
                        <div class="icon" style="width: 200px; height: 200px; margin: 0;"></div>
                        <span>Имя Фамилия</span>
                        <span>Отчество  </span>
                        <span style="color: rgb(87, 127, 201); font-weight: lighter;">ПРЕДМЕТ</span>
                    </div>
                </a><a style="display:block" href="">
                    <div class="teacher">
                        <div class="icon" style="width: 200px; height: 200px; margin: 0;"></div>
                        <span>Имя Фамилия</span>
                        <span>Отчество  </span>
                        <span style="color: rgb(87, 127, 201); font-weight: lighter;">ПРЕДМЕТ</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bottom_code">
        <div class="bottom">
            <div class="bottom_left">
                <img src="images/zhishi-logo04.png" alt="" style="width: 300px;">
                <div class="tg">
                    <img src="images/TG.jpeg" alt="" style="width: 60px;">
                    <img src="images/FEFU.jpeg" alt="" style="width: 60px;">
                    <img src="images/DDO.jpeg" alt="" style="width: 60px;">
                </div>
            </div>
            <div class="bottom_right">
                <span style="color: orange; font-size: 40px;">E-mail 00000 | 8 800 88888888 | Name</span>
                <span style="font-size: 30px;">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, 
                    sed diam nonummy nibh euismod. </span>
            </div>
        </div>
    </div>
</body>
</html>